<a class="recipe-card"
  [routerLink]="['/recetas', id]"
  role="button"
>
<div class="recipe-card__image-wrap">
    <img [src]="imageSrc" [alt]="alt" class="recipe-card__image" />
  </div>

  <div class="recipe-card__body">
    <div class="recipe-card__title-pill">
      {{ title }}
    </div>

    <p class="recipe-card__desc">
      {{ description }}
    </p>

    <div class="recipe-card__info">
      <div class="recipe-card__info-item">
        <mat-icon>schedule</mat-icon>
        <span>{{ duration }}</span>
      </div>
      <div class="recipe-card__info-item">
        <mat-icon>schedule</mat-icon>
        <span>{{ difficulty }}</span>
      </div>
    </div>
  </div>

</a>
