# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Visual Studio
.vs/

# Miscellaneous
.angular/
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
node_modules

# Ignorar carpetas de salida de compilación
[Bb]in/
[Oo]bj/

# Ignorar archivos de configuración local y secretos
backend/Nutriflow.api/appsettings.Development.json
backend/Nutriflow.api/appsettings.Production.json

# Archivos de usuario de Visual Studio
*.user
*.suo
*.userosscache
*.sln.docstates

# ==========================================
# LIMPIEZA DE FRONTEND (General)
# ==========================================
# Esto cubre cualquier carpeta node_modules en cualquier nivel
**/node_modules/
**/dist/
**/.angular/


frontend/.angular/cache/
frontend/node_modules/
frontend/.angular/cache/19.2.19/Modular/.tsbuildinfo
frontend/.angular/cache/19.2.19/Modular/.tsbuildinfo
/frontend/.angular/cache
node_modules
node_modules
node_modules
