/* app.component.scss */
:host {
  display: block;
  height: 100vh;     /* o 100% si prefieres con cadena de alturas */
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav,
mat-sidenav-content {
  height: 100%;
}
