/* app.component.scss */
:host {
  display: block;
  height: 100vh;    
}
::ng-deep .mat-drawer-inner-container {
  overflow: hidden !important;
}
mat-sidenav-container {
  height: 100%;
}

mat-sidenav-content {
  height: 100vh;
}

