<!-- src/app/pages/recipes/recipes.component.html -->
<section class="recipes-page">
  <div class="recipes-header">
    <h1 class="recipes-title">Recetas Recomendadas</h1>
    <p class="recipes-subtitle">Explora nuevas ideas saludables cada día 🍽️</p>
  </div>

  <section class="recipes-grid">
    @for (receta of recetas; track receta.title) {
      <app-card-preview
        [id]="receta.id"
        [imageSrc]="receta.image"
        [title]="receta.title"
        [description]="receta.description"
        [duration]="receta.duration"
        [difficulty]="receta.difficulty"
      ></app-card-preview>
    }
  </section>
</section>
