#drawer {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 3%;
}

#drawer.open {
  width: 15%;
}

#drawer a {
  padding: 3% 5%;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: 0.3s;
}

#drawer a:hover {
  color: #fd4308;
}

#drawer .closebtn {
  position: absolute;
  top: 0;
  right: 5%;
  font-size: 36px;
}

.menu-btn {
  font-size: 30px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: white;
}

.material-icons {
  font-size: 20px;
  margin-right: 8px;
}

.material-icons.rotate {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.drawer-menu {
  display: none;
  padding-left: 32px;
}

.drawer-menu.show {
  display: block;
}
